body {
	background-color: #ab0020;
}

h1 {
	color: #facb33;
	font-family: 'Anton', sans-serif;
}

#options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

button {
	margin: 1rem;
	padding: 1rem;
	border-radius: 100%;
}

.weapons {
	font-size: 2rem;
	text-shadow: 1px 1px 4px black;
}

.topSection {
	text-align: center;
	min-height: 30vh;
}

h2 {
	display: block;
	color: #ffff;
	font-family: 'Oswald', sans-serif;
}

#playAgain p,
.rulesBtn p {
	font-family: 'Oswald', sans-serif;
	display: inline;
	padding: 0.5rem;
	background-color: white;
	border-radius: 0.5rem;
}

.rulesBtn {
	display: flex;
	justify-content: center;
}

.win {
	color: #28b431;
}

.draw {
	color: #e7b416;
}

.lose {
	color: #000000;
}

/* .lightbox {
	position: fixed;
	top: 80;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444444a2;
	align-items: center;
	z-index: 100;
	display: none;
} */
